<html>
 
<head></head>
 
<body>
    <p>Dear ${firstName} ${lastName},</p>
    <p>Thank you for choosing SendX wallet. You can use your password or mPIN to access your account !!</p>
    <p>Thanks,
    <br>
    SendX Team
    <br>
    support@sendxsg.com
</body>
 
</html>